.AppCountries {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background: gray;
    background: url("https://phonoteka.org/uploads/posts/2021-07/1625520400_6-phonoteka-org-p-zastavka-na-rabochii-stol-karta-mira-krasi-6.jpg") no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;

}